<div>
    <span><b>STRESS</b></span>
    <div>
        <span>Q3. Please rate the level of academic stress you are experiencing today</span>
        <div>
            <input type="radio" name="ques3" id="option1" ng-model="AnsweredOption" ng-value='1'  ng-click="SaveAnswer('Q3', AnsweredOption)" />
            <label for="option1">Highly Stressed</label>
        </div>
        <div>
            <input type="radio" name="ques3" id="option2" ng-model="AnsweredOption" ng-value='2'  ng-click="SaveAnswer('Q3', AnsweredOption)"/>
            <label for="option2">Stressed</label>
        </div>
        <div>
            <input type="radio" name="ques3" id="option3" ng-model="AnsweredOption" ng-value='3'  ng-click="SaveAnswer('Q3', AnsweredOption)"/>
            <label for="option3">Average</label>
        </div>
        <div>
            <input type="radio" name="ques3" id="option4" ng-model="AnsweredOption" ng-value='4'  ng-click="SaveAnswer('Q3', AnsweredOption)"/>
            <label for="option4">Relaxed</label>
        </div>
        <div>
            <input type="radio" name="ques3" id="option5" ng-model="AnsweredOption" ng-value='5'  ng-click="SaveAnswer('Q3', AnsweredOption)"/>
            <label for="option5">Very Relaxed</label>
        </div>
    </div>

    <div>
        <span>Q4. Please rate the level of general life stress you are experiencing today</span>
        <div>
            <input type="radio" id="option1_2" name="ques4" ng-model="AnsweredOptions" ng-value='1'  ng-click="SaveAnswer('Q4', AnsweredOptions)"/>
            <label for="option1_2">Highly Stressed</label>
        </div>
        <div>
            <input type="radio" id="option2_2" name="ques4" ng-model="AnsweredOptions" ng-value='2'  ng-click="SaveAnswer('Q4', AnsweredOptions)"/>
            <label for="option2_2">Stressed</label>
        </div>
        <div>
            <input type="radio" id="option3_2" name="ques4" ng-model="AnsweredOptions" ng-value='3'  ng-click="SaveAnswer('Q4', AnsweredOptions)"/>
            <label for="option3_2">Average</label>
        </div>
        <div>
            <input type="radio" id="option4_2" name="ques4" ng-model="AnsweredOptions" ng-value='4'  ng-click="SaveAnswer('Q4', AnsweredOptions)"/>
            <label for="option4_2">Relaxed</label>
        </div>
        <div>
            <input type="radio" id="option5_2" name="ques4" ng-model="AnsweredOptions" ng-value='5'  ng-click="SaveAnswer('Q4', AnsweredOptions)"/>
            <label for="option5_2">Very Relaxed</label>
        </div>
    </div>
</div>